@model Knygu_rezervacijos.Models.Skaitytojas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skaitytojas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vardas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pavarde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PazymejimoIsdavimoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PazymejimoIsdavimoData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slaptazodis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slaptazodis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PakartotiSlaptazodi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PakartotiSlaptazodi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PazymejimoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
