@model IEnumerable<Knygu_rezervacijos.Models.Skaitytojas>

@{
    ViewData["Title"] = "Index";
}

<h1>Skaitytojų sąrašas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pavarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PazymejimoIsdavimoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slaptazodis)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pavarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PazymejimoIsdavimoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slaptazodis)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.PazymejimoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PazymejimoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PazymejimoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
